@import '~@/assets/style/init';

.timeline  {
    .el-card {
        border: 1px solid rgba(theme_bgc, 0.6);
        background-color:rgba(theme_bgc, 0.6);
        color: font_color;
        transition: .3s;
    }
}