@import '~@/assets/style/init';

.right-style {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(theme_bgc, 0.6);
    height: auto;
    border-radius: 10px;
    .icon-youlian {
        color: about_man;    
    }
    .friend-url {
        margin-bottom 10px    
        img {
            width: 20px;
            height: 20px;
            vertical-align: bottom;
            background-color: white;
            margin-right: 10px;
        }
        .font-hover:hover {
            color font_hover
            font-weight bold
            text-decoration underline      
        }
    }
    h3 {
        border-bottom 1px solid font_color
        padding-bottom 4px
        margin-bottom 10px
    }
    .newlist-index {
           display inline-block
           width 20px
           height 20px
           line-height 20px 
           background-color index_bgc
           text-align center
           margin-bottom 10px
    }
    // .animate-friend {
    //     animation: friends 1s linear 2s infinite alternate;
    //     /* Firefox: */
    //     -moz-animation: friends 1s linear 2s infinite alternate;
    //     /* Safari 和 Chrome: */
    //     -webkit-animation: friends 1s linear 2s infinite alternate;
    //     /* Opera: */
    //     -o-animation: friends 1s linear 2s infinite alternate;    
        
    // }
}