@import '~@/assets/style/init';

.right-style {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(theme_bgc, 0.6);
    height: auto;
    border-radius: 10px;
    h3 {
        border-bottom 1px solid font_color
        padding-bottom 4px
        margin-bottom 10px
    }
    .newlist-index {
           display inline-block
           width 20px
           height 20px
           line-height 20px 
           background-color index_bgc
           text-align center
           margin-bottom 10px
    }
}