// 内容背景色 
content_bgc = #231f20
// 主题背景色
theme_bgc = #32323c
// 字体灰
font_color = #a8a8ab
// 标签蓝
tag_bgc = #5b5861
// 原创色
tag_mybgc = #3a6775
tag_mycolor = #2399d2
// 内容背景色
index_bgc = #0000004f
// 字体 hover
font_hover = #cccccc
// 留言前面背景色
vcm_bgc = #4e659c80
vcm_hover = #4e6ba7;
// 个人介绍图标颜色
about_man = #5f87e3
about_xingqu = #ab7a18
about_qianming = #f8778f
about_lujing = #64aed0
about_zuobiaofill = #1f53cc

// 回复背景色
callback_bgc = #020202

black_bgc = #000;

// type class 主页面分类
type_red = #7b3933
typefont_red = #ff7600
type_browser = #1c776f
typefont_browser = #03ad9d
type_skill = #007b31
typefont_skill = #31ab00
type_activity= #5f1818
typefont_activity= #f9456e
class_original = #533a75
classfont_original = #9870f9
