// 内容背景色 
content_bgc = #231f20
// 主题背景色
theme_bgc = #32323c
// 字体灰
font_color = #a8a8ab
// 标签蓝
tag_bgc = #5b5861
// 原创色
tag_mybgc = #3a6775
tag_mycolor = #2399d2
// 内容背景色
index_bgc = #0000004f
// 字体 hover
font_hover = #cccccc
// 留言前面背景色
vcm_bgc = #4e659c80
vcm_hover = #4e6ba7;
