@import '~assets/style/color'
@import '~assets/style/keyframes'

html,body {
    margin 0 !important
    padding 0    
    height 100%
    font-family 'Arial', 'Helvetica', 'sans-serif','Tangerine', 'Inconsolata', 'Droid Sans', serif
    font-size 14px
    .clear-margin {
        margin 0    
    }
    .clear-padding {
        padding 0    
    }
}
body>div,body>div>div {
    height 100%
}
h3,p,ul,li,a {
    margin 0
    padding 0
    list-style none
    color font_color
    text-decoration none
}

// 背景色鼠标
::-moz-selection{background:#93C; color:#FCF;}
::selection {background:#93C; color:#FCF;}

// 自定义滚动条
::-webkit-scrollbar {
    width 4px
    height 4px
}

/* Track */
::-webkit-scrollbar-track {
    background theme_bgc
    border-radius 8px
}

/* Handle */
::-webkit-scrollbar-thumb {
    background font_color
    border-radius 8px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background rgb(162, 162, 163)
}

// 头部样式替换
.header-inner .el-input__inner,.header-inner  .el-input-group__append{
    height 32px !important
    // border 1px solid rgba(#282c35,0.6) !important
    background-color: #1a1a1a
    border-color #1a1a1a
    color: #aaa
    font-size: 14px; 
}
.header-inner  .el-input-group__append,.header-inner  .el-input-group__prepend {
    border none    
}
.header-inner .el-input-group {
    border-radius 10px    
}
.header-inner .el-input.is-active .el-input__inner,.header-inner .el-input__inner:focus {
    border-color #1a1a1a
}
// content 部分
.el-row {
    margin 0  !important;
}
// 归档部分
.el-timeline-item__node,.el-timeline-item__tail {
    background-color: font_color;
}
.el-timeline-item__tail {
    border-left 2px solid font_color
}

// 底部样式替换
// .el-main {
//     padding 300px 0 0 0     
// }

// 公共部分
.font_color {
    color font_color    
}
.container-bg>p>img {
    background-color #ccc;
    width: 100%;    
}

// 留言背景色
.el-input-group__prepend {
    background-color vcm_bgc
    border none 
    color font_color
    border-radius 0
}
.el-input__inner,.el-textarea__inner {
    background-color: vcm_bgc; 
    border: 1px solid vcm_bgc;
    color font_color
    border-radius 0
}
.el-input__inner:hover {
    border-color: vcm_hover;
    border-radius 0
}
.vcmContainer .el-button {
    padding: 8px 14px
}
.vcmContainer .el-button {
    color: #ccc;
    background-color: vcm_bgc;
    border-color: vcm_bgc;
}
.el-message {
    height 4px !important;
}
pre {
    background: #000;
    overflow-y: auto;
}
.details {
    img {
      width: 100%;
    }
}

