// 图片变大 
@keyframes changeBiger {
    0% {
    transform: scale(1.08);
    }

    100% {
    transform: scale(1);
    }
}
// 文字动画
@keyframes friends {
    50%  {color: #a8a8ab;font-style italic;}
    100% {color: #fff;}
}